/* General styles */
body {
    align-items: center;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    max-height: 500px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    color: #53FC18;
    font-size: 24px;
    margin-bottom: 20px;
}

/* URL list styles */
.url-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.url-item {
    align-items: center;
    background-color: #3e3e3e;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px; /* Add this line to create space between items */
}

.url-item a {
    color: #53FC18;
    text-decoration: none;
    transition: color 0.3s ease;
    word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    white-space: normal; /* Allow text to wrap onto the next line */
}

.url-item a:hover {
    color: #45d314;
}

.url-item button {
    background-color: #ff3860;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.url-item button:hover {
    background-color: #ff1f4b;
}